[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
mysql-connector-python = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
rich = "*"

[dev-packages]
black = "*"
rich = "*"

[requires]
python_version = "3.11"
